#root {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: #9393a1 #dadadb;

    
}


/* select {
    appearance: base-select;
    &::picker(select) {
        appearance: base-select;
        padding: 4px;
        border-radius: 10px;
        border: 1px solid var(--border);
        background: var(--input);

    
        transition:
            opacity 0.4s ease-out,
            transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
            display 0.4s allow-discrete,
            overlay 0.4s allow-discrete;
       
        opacity: 0;
       
        transform: translateY(8px) scale(0.95);
    }


    &:open::picker(select) {
        opacity: 1;
        transform: translateY(0) scale(1);

       
        @starting-style {
            opacity: 0;
         
            transform: translateY(-8px) scale(0.95);
        }
    }

    & option {
        padding: 4px;
        border-radius: 8px;
        transition: background 0.2s ease;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }

    }
} 