@import "./styles/themes.css";
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./styles/fondo.css";
@import "./styles/Swalert.css";
@import "./styles/animaciones.css";
@import "./styles/pattern-perfil.css";
@custom-variant dark (&:is(.dark *));

:root {
    font-family: Poppins, Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--foreground);
    background-color: var(--background);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --shadow-card: 0 4px 24px rgba(75, 107, 251, .07), 0 1px 4px rgba(15, 23, 42, .05);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --shadow-hover: 0 8px 32px rgba(75, 107, 251, .13);
    --radius: 0.625rem;
    --background: oklch(97.485% 0.00806 286.052);
    --foreground: oklch(26% 0.03 260);
    --card: oklch(100% 0.00011 271.152);
    --card-foreground: oklch(26% 0.03 260);
    --card-border: oklch(0.78 0.025 260 / 35%);
    --popover: oklch(99% 0.005 85);
    --popover-foreground: oklch(26% 0.03 260);
    --primary: oklch(56% 0.22 275);
    --primary-foreground: oklch(0.98 0 0);
    --secondary: oklch(93% 0.01 85);
    --secondary-foreground: oklch(50% 0.03 260);
    --muted: oklch(94% 0.008 85);
    --muted-foreground: oklch(55% 0.025 260);
    --accent: oklch(90% 0.012 85);
    --accent-foreground: oklch(30% 0.025 260);
    --destructive: oklch(55% 0.23 25);
    --border: oklch(0.84 0.02 85 / 45%);
    --border-input: oklch(77.333% 0.03164 260.733 / 0.5);
    --input: #FFFFFF;
    --ring: oklch(0.55 0.15 275);
    --scrollbar-bg:  #dadadb;
    --scrollbar-thumb: #a5a5b1;
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);

    --backdrop: rgba(0, 0, 0, 0.25);
    --modal: #F6F6F7;

    --sidebar: #1e293b;
    --sidebar-500: #1e293b;
    --sidebar-foreground: #94A3B8;
    --sidebar-primary: oklch(63.441% 0.17317 258.323);
    --sidebar-primary-foreground: oklch(70.4% 0.04 256.788);
    --sidebar-accent: #37465f;
    --sidebar-accent-foreground: #94A3B8;
    --sidebar-border: #2d3747;
    --sidebar-ring: oklch(0.708 0 0);
    --sidebar-hover: #2E3D57;

    --table-bgth: oklch(99% 0.005 85);
    --table-bg: oklch(100% 0.00011 271.152);
    --table-hover: oklch(94% 0.008 85);
    --table-border: oklch(88.904% 0.00867 84.505 / 0.35);
    --table-tdcolor: oklch(26% 0.03 260);


    --success-20: oklch(94.369% 0.06113 163.407);
    --info-20: oklch(91.632% 0.03647 256.007);
    --warning-20: oklch(97.3% 0.071 103.193);
    --error-20: oklch(93.6% 0.032 17.717);
    --neutral-20: oklch(95.771% 0.01292 266.744);
    --purple-20: oklch(90.2% 0.063 306.703);
    --cyan-20: rgba(7, 180, 211, 0.2);
    --pink-20: oklch(82.3% 0.12 346.018);


    --textsuccess-20: oklch(43.2% 0.095 166.913);
    --textinfo-20: oklch(47.88% 0.18787 266.922);
    --textwarning-20: oklch(47.6% 0.114 61.907);
    --texterror-20: oklch(57.7% 0.245 27.325);
    --textneutral-20: oklch(27.8% 0.033 256.848);
    --textpurple-20: oklch(43.8% 0.218 303.724);
    --textcyan-20: rgb(6 182 212 / 0.2);
    --textpink-20: oklch(45.9% 0.187 3.815);



    --shoprimary: oklch(64.6% 0.222 41.116);
    --bgshop: oklch(96.7% 0.003 264.542);
    --shopcard: oklch(100% 0.00011 271.152);
    --shopforeground: oklch(44.6% 0.043 257.281);
    --shop-secondary-foreground: oklch(44.6% 0.03 256.802);
    --shopheader: oklch(37.808% 0.14829 265.535);


}

@media (prefers-color-scheme: light) {}

.dark {
    --background: oklch(21.283% 0.02373 262.314);
    --foreground: oklch(92% 0.012 262);
    --card: oklch(24.627% 0.02755 259.983);
    --card-foreground: oklch(90% 0.01 260);
    --card-border: oklch(50% 0.03 262 / 18%);
    --popover: oklch(33% 0.025 262);
    --popover-foreground: oklch(90% 0.01 260);
    --primary: oklch(58% 0.22 270);
    --primary-foreground: oklch(95% 0.005 260);
    --secondary: oklch(31% 0.028 262);
    --secondary-foreground: oklch(80% 0.015 260);
    --muted: oklch(31.08% 0.02437 258.385);
    --muted-foreground: oklch(62% 0.02 260);
    --accent: oklch(36% 0.03 262);
    --accent-foreground: oklch(88% 0.012 260);
    --destructive: oklch(58% 0.22 25);
    --border: oklch(48% 0.03 262 / 22%);
    --border-input: oklch(52% 0.035 262 / 30%);
    --input: oklch(28.136% 0.03355 264.858 / 0.925);
    --ring: oklch(58% 0.22 270);
    --scrollbar-bg: oklch(27.214% 0.03033 262.729);
    --scrollbar-thumb: oklch(35.834% 0.03613 269.566);
    --chart-1: oklch(55% 0.23 264);
    --chart-2: oklch(60% 0.17 162.48);
    --chart-3: oklch(65% 0.18 70);
    --chart-4: oklch(58% 0.22 303.9);
    --chart-5: oklch(60% 0.2 16);
    --backdrop: rgba(0, 0, 0, 0.5);
    --modal: oklch(24.184% 0.02357 259.341);

    --sidebar: oklch(24.718% 0.03337 261.601);
    --sidebar-500: #202a3b;
    --sidebar-foreground: oklch(80% 0.015 260);
    --sidebar-primary: #2287DFE3;
    --sidebar-primary-foreground: oklch(95% 0.005 260);
    --sidebar-accent: #2a3a55;
    --sidebar-accent-foreground: oklch(96.472% 0.00276 285.759);
    --sidebar-border: oklch(45% 0.03 260 / 20%);
    --sidebar-ring: oklch(58% 0.22 270);
    --sidebar-hover: #2b374b;

    --table-bgth: oklch(27% 0.028 262);
    --table-bg: oklch(25% 0.025 262);
    --table-hover: oklch(30% 0.03 262);
    --table-border: oklch(48% 0.03 262 / 20%);
    --table-tdcolor: oklch(85% 0.015 260);

    --textsucces: oklch(68% 0.15 163);

    --shoprimary: oklch(58% 0.22 270);
    --bgshop: oklch(19% 0.022 262);
    --shopcard: oklch(27% 0.028 262);
    --shopforeground: oklch(84% 0.015 260);
    --shop-secondary-foreground: oklch(72% 0.015 260);
    --shopheader: oklch(90% 0.012 260);

    --shadow-card: 0 4px 24px rgba(0, 0, 0, 0.45), 0 1px 4px rgba(0, 0, 0, 0.35);
    --shadow-hover: 0 8px 32px rgba(0, 0, 0, 0.55);

    --info-20: oklch(37.9% 0.146 265.522);
    --success-20: oklch(39.3% 0.095 152.535);
    --warning-20: oklch(42.1% 0.095 57.708);
    --error-20: oklch(40.8% 0.153 2.432);
    --neutral-20: oklch(37.3% 0.034 259.733);
    --purple-20: oklch(38.1% 0.176 304.987);
    --cyan-20: rgb(34 211 238 / 0.25);
    --pink-20: rgb(244 114 182 / 0.25);

    --textinfo-20: oklch(80.9% 0.105 251.813);
    --textsuccess-20: oklch(87.1% 0.15 154.449);
    --textwarning-20: oklch(90.5% 0.182 98.111);
    --texterror-20: oklch(82.3% 0.12 346.018);
    --textneutral-20: oklch(87.2% 0.01 258.338);
    --textpurple-20: oklch(82.7% 0.119 306.383);
    --textcyan-20: rgb(34 211 238 / 0.25);
    --textpink-20: rgb(244 114 182 / 0.25);
}

